<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="fas fa-school me-2"></i>MySchool Portal</h5>
                <p>Empowering education through technology. Our school management system helps create a better learning environment for students, teachers, and administrators.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light"><i class="fas fa-angle-right me-2"></i>Home</a></li>
                    <li><a href="/about" class="text-light"><i class="fas fa-angle-right me-2"></i>About Us</a></li>
                    <li><a href="/contact" class="text-light"><i class="fas fa-angle-right me-2"></i>Contact</a></li>
                    <li><a href="/blog" class="text-light"><i class="fas fa-angle-right me-2"></i>Blog</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Info</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt me-2"></i>123 School Street, City, Country</li>
                    <li><i class="fas fa-phone me-2"></i>+1 234 567 8900</li>
                    <li><i class="fas fa-envelope me-2"></i>info@myschool.com</li>
                </ul>
                <div class="social-links mt-3">
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-linkedin fa-lg"></i></a>
                </div>
            </div>
        </div>
        <hr class="mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> MySchool Portal. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>