<div class="py-5"></div>
    <div class="container">
        <h1 class="display-4 mb-3"><%= title %></h1>
        <p class="lead mb-4">Our mission is to provide quality education through modern tools and a supportive community. We offer a range of academic programs, extracurricular activities, and a nurturing environment for students to thrive.</p>

        <div class="row g-4">
            <div class="col-md-4">
                <h5>Our Vision</h5>
                <p>To empower every student to reach their full potential.</p>
            </div>
            <div class="col-md-4">
                <h5>Our Values</h5>
                <p>Integrity, Excellence, Inclusion, and Innovation.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Email: info@myschool.edu<br>Phone: +1 (555) 123-4567</p>
            </div>
        </div>
    </div>
</div>
